<mat-toolbar class="toolbar" color="primary">

    <button mat-button routerLink="products/all" (click)="isSidebarShown = false">
        <h5> Nice Shopping</h5>
    </button>
    <button mat-button (click)="showMenu()">
        <h5>Catalog</h5>
    </button>

    <span class="spacer"></span>
    <ng-container *ngIf="user$ | async as user; else unknownuser">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <button mat-icon-button class="logout_button" (click)="logout()"
            aria-label="Example icon-button with logout icon">
            <mat-icon>logout</mat-icon>
        </button>
    </ng-container>
    <ng-template #unknownuser>
        <button mat-icon-button class="login_button" (click)="openDialog()"
            aria-label="Example icon-button with login icon">
            <mat-icon>login</mat-icon>
        </button>
    </ng-template>


    <button mat-icon-button class="shopping_cart_button" aria-label="Example icon-button with shopping_cart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>

</mat-toolbar>
<app-menu [isSidebarShown]="isSidebarShown"></app-menu>