<mat-drawer-container class="drawer-container" autosize hasBackdrop="true">
    <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="isSidebarShown">
        <mat-nav-list class="navlist">
            <a routerLink="">
                <button class="navlist-item" mat-stroked-button>All categories </button>
            </a>
            <a routerLink="/category/electronics">
                <button class="navlist-item" mat-stroked-button>Electronics </button>
            </a>
            <a routerLink="/category/jewelery">
                <button class="navlist-item" mat-stroked-button>Jewelery </button>
            </a>
            <a routerLink="/category/clothing">
                <button class="navlist-item" mat-stroked-button>Clothing </button>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>